@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(19, 19, 19);
  background-color: rgb(229, 246, 246);
}

.customOverlay {
  background: rgba(17, 81, 78, 0.163) !important;
  backdrop-filter: blur(5px);
  padding: 10px;
}

.customModal {
  background: #b2dbbf;
  width: 90%;
  margin: 0 !important;
  border-radius: 10px;
}

.react-responsive-modal-closeButton {
  width: 20px;
}
